<div class="container-child col-md-4 col-sm-6 col-xs-6 ">
  <%= link_to show_image(user), user_path(user) %>
  <%= link_to user.name, user %>

  <% if user.id != current_user.id %>
    <li>
      <div class="item">
        <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: "btn btn-success" %>
      </div>
      <!-- フォローのボタンに user を渡す -->
      <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
    </li>
  <% end %>
</div>
