// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-child {
  margin-bottom: 65px;
}

.container-child .item {
  margin-top: 5px;
  margin-bottom: 5px;
}
